body
{
  margin:0;
  padding:0;
}
	
#top {
height:65px;
background-image: linear-gradient( to right bottom, lightblue , lightblue);


position:fixed;
color:#34495e;
right: 0;
left:0;
padding:10px;
border-bottom: 2px solid whitesmoke;
  }

#span_txt_top
{
margin-left:40px;
color: white;
word-spacing:7px; 
font-size: 30px;
font-weight: 900;



}

#logout_a
{
text-decoration: none;
float: right;
margin-top:30px;
margin-right:25px;
font-size:12pt;
font-weight:400;  
color: white;
}

#logout_a:hover
{
 color:#1abc9c; 
}

